/* #242424 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root
{
 
  height: 100%;
  width: 100%;
  background-color: #f0f2f5;
}
html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.create-post-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  width: 100%;
  background-color:#f0f2f5;
}
.create-post-section form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
.create-post-section input,
.create-post textarea{
  width: 300px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.create-post-section button{
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.feed-section{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: start;
 gap: 20px;
 height: 100%;
 width: 100%;
 background-color: #f0f2f5;
 padding: 20px; 
}

.post-card{
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  margin-bottom: 20px;
}
.post-card h3{
  margin-bottom: 10px;
}
.post-card img{
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}